<ion-content style="display: flex; align-items: center; ">
  <div class="vertical">
    <img style="width: 120px; height: auto; margin-left: auto;
    margin-right: auto;" src="../../assets/logo.png">
    <img style="width: 120px; height: auto; margin-left: auto;
    margin-right: auto; margin-top: 15px" src="../../assets/klasku.png">
    <ion-button style="--background: #E76969; --background-activated: #CA4545; margin-left: auto;
    margin-right: auto; width: 110px; margin-top: 25px; margin-bottom: 70px;" (click) = "login()">
      Login
    </ion-button>
  </div>

  <app-example></app-example>
</ion-content>
