.vertical {
    float: left;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical  > *{
    display :block;
    width: 100%;
}

ion-content {
    --ion-background-color: #F9F7F3;
}
