





<ion-content [fullscreen]="true">

  <ion-searchbar slot="fixed"></ion-searchbar>

  <ion-text color="tertiary" >
    <h1 class="title">Your Recent Posts</h1>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col (click) = "goEditPage()">
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="https://previews.123rf.com/images/rastudio/rastudio1604/rastudio160410310/55898615-background-of-classroom-vector-flat-design-illustration-square-layout-.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
