ion-searchbar {
<<<<<<< HEAD
    height: 100px;
    // background-color: white;
    --background: white;
=======
    --box-shadow: 0px 2px 0px lightgray;
    --background: white;
    position: sticky;
    width: 80vw;
    height: 40px;
    margin-right: 10vw;
    margin-left: 10vw;
    z-index: 100;
    border-radius: 10px;
    margin-top: 28px;
}

ion-header {
    --background-color: transparent;
    --ion-color-base: transparent !important;
}

ion-grid {
    width: 86vw;
}

ion-content {
    --ion-background-color: #F9F7F3;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 27px;
>>>>>>> 576f2eba04ad939f1d7b9ad08c7d512c63579147
}