<ion-header>
  <ion-toolbar class="topbar-shape">
    <ion-icon class="back-arrow" color="secondary" name="arrow-back-outline"></ion-icon>
    <ion-title color="secondary">Sharing Settings</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-grid style="height: 100%; --ion-grid-padding: 0;">
  
 
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-justify-content-center ion-align-items-center">
      <ion-popover><p>Test Conbtent</p></ion-popover>
      <ion-button class="class-button" color="tertiary">
        <h1 class="class-button-text" slot="start">Class Name</h1>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-grid>

</ion-content>
