<ion-header>
  <ion-toolbar class="topbar-shape">
    <ion-icon class="back-arrow" color="secondary" name="arrow-back-outline"></ion-icon>
    <ion-title color="secondary">Make Post</ion-title>
    <ion-text slot="end" style="color: #99F3FF; padding-right: 6px; font-size: 17px; font-weight: bold; margin: 0;">Share</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid style="height: 100%">
  
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      Post Picture
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      Title, Caption Card
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      <h1 class="class-list-title">What class does this post belong to?</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      <!-- This is one bvutton for tye clas buton -->
      <ion-button style="display: block" class="class-button" color="tertiary">
        <ion-grid style="padding-left: 0; padding-right: 0; height: 100% ; width: 100%;">
          <ion-row class="ion-justify-content-center">
            <ion-col style="padding-left: 0; margin-left: 0;" class="ion-justify-content-center">
              <span>
                <h1 class="class-button-text" slot="start">Class Name</h1>
              </span>  
            </ion-col>
            <ion-col size="auto" style="padding-right: 0; margin-right: 0;" class="ion-justify-content-center">
              <ion-icon class="caret" color="secondary" name="caret-forward-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-grid>

</ion-content>
