ion-content {
    --ion-background-color: #F9F7F3;
}

.topbar-shape {
    --background: #E76969;
}

.back-arrow {
    width: 24px;
    height: 24px;
    padding-left: 6px;
}

.ion-justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-list-title {
    width: 256px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.class-button {
    width: 267px;
    height: 40px;
    --background-activated: #CA4545;
}

ion-button{
    span{
      text-align:left;
      width:100%;
    }
  }

.class-button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    padding: 0;
    margin: 0;
    /* identical to box height */
}

.queue-post-button {
    width: 120px;
    height: 33px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    --border-radius: 5px;
    --box-shadow: 0px 2px 5px 0px rgba(94,94,94,1);
    --color: #E76969;
    --background: white;
    --background-activated: #ECECEC;
}

.title-caption-rows {
    width: 95%;
}
.profile-photo {
    width: 235px; height: 235px;
}