<ion-header>
  <ion-toolbar class="topbar-shape">
    <ion-icon class="back-arrow" color="secondary" name="arrow-back-outline"></ion-icon>
    <ion-title color="secondary">View Post</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-grid style="height: 100%; --ion-grid-padding: 0;">
  
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      Post Picture
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" no-padding>
    <ion-col style="width: 76vw; padding: 0;">
      <ion-text  style="float: left; margin-left: 12vw; font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      ">Title</ion-text>
      <ion-text style="float: right; margin-right: 12vw; font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;">Class</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col style="max-width: 76vw; padding: 0;" class="ion-justify-content-center">
      <h1 class="caption">CaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaption</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col style="max-width: 76vw; padding: 0;" class="ion-justify-content-start">
      <h1 class="class-list-title">Sent to:</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      <ion-button class="class-button" color="tertiary">
        <h1 class="class-button-text" slot="start">Class Name</h1>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-grid>

</ion-content>
