ion-content {
    --ion-background-color: #F9F7F3;
    --background: #fff url('../../assets/dashboard-background.png') no-repeat center top / auto;
}

.red-circle {
    position: absolute;
    top: 0;
    left: 0;
}