<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-col>
      <ion-col>

        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text color = "danger">
          <h1>Emma Wat Sun</h1>
        </ion-text>
        
        <h3>Sekolah Contoh</h3>
      </ion-col>
      <ion-col size = "2">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="light" (click) = "sharingSettings()">Sharing Settings</ion-button>
  <ion-button color="light" (click) = "viewClassDetail()">Temp Button to View Class</ion-button>

 
    <ion-card>
      <ion-list>
        <ion-list-header>
          Your Classes
        </ion-list-header>


        <!-- <ng-template ngFor let-class [ngForOf]="classes"  let-i="index" >
          <div *ngIf=" i < limit">
              {{class.name}}
          </div>
        </ng-template> -->
        <ion-item *ngFor = "let class of classes | slice:0:limit; let i=index">
          <ion-avatar slot="start">
            <img src={{class.imageUrl}}>
          </ion-avatar>
          <ion-label>
            <h2>{{class.name}}</h2>
            <p>{{class.students[0]}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-icon *ngIf = "down === true" (click) = "flip()" (click) = "increaseLimit()" name="chevron-down-outline"></ion-icon>
      <ion-icon *ngIf = "down === false" (click) = "flip()" (click) = "decreaseLimit()" name="chevron-up-outline"></ion-icon>
    </ion-card>
</ion-content>
